.login-body {
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;

    .login-options {
        padding-top: 1rem;

        a {
            padding-right: 1rem;
            text-decoration: none;
            color: #009900;
            font-size: 1rem;
            font-weight: 300;
        }

        a:hover {
            color: #99ff99;
        }
    }
}
