<div>
    This website was inspired by <a href="https://www.reddit.com/r/adventofcode/comments/17icom1/ive_created_bingo_cards_to_have_a_little_fun_at/?utm_source=share&utm_medium=web2x&context=3">this reddit post</a>.
    <br>
    I would like to thank my dear friend <a href="https://github.com/Bogatejc">Mark</a> for building this amazing UI.
    <br>
    If you'd like to buy us a coffee, you can do so via <a href="https://ko-fi.com/blarc">Ko-fi</a>.
    <br>
    <br>
    Source code can be found <a href="https://github.com/Blarc/advent-of-code-bingo">here.</a>
</div>
