<div>
    <p>This website was inspired by <a class='green' href="https://www.reddit.com/r/adventofcode/comments/17icom1/ive_created_bingo_cards_to_have_a_little_fun_at/?utm_source=share&utm_medium=web2x&context=3">[this reddit post]</a>.</p>

    <p>I would like to thank my dear friend <a class='green' href="https://github.com/Bogatejc">[Mark]</a> for building this amazing UI.</p>

    <p>If you'd like to buy us a coffee, you can do so via <a class='green' href="https://ko-fi.com/blarc">[Ko-fi]</a>.</p>

    <p>Source code can be found on <a class='green' href="https://github.com/Blarc/advent-of-code-bingo">[GitHub]</a>.</p>
</div>
