<div>
    <p>Welcome to our Advent of Code Bingo!</p>

    <p>This website allows you to engage with the challenges by clicking on the bingo cards that resonate with your progress. We trust in your honesty to only mark the completed tasks. Have a blast!</p>

    <p>This initiative was sparked by a fascinating Reddit <a class='green' href="https://www.reddit.com/r/adventofcode/comments/17icom1/ive_created_bingo_cards_to_have_a_little_fun_at/?utm_source=share&utm_medium=web2x&context=3">[post]</a>.</p>

    <p>A heartfelt appreciation goes out to my esteemed friend <a class='green' href="https://github.com/Bogatejc">[Mark]</a> for crafting the stunning user interface.</p>

    <p>If you'd like to support us and show appreciation for our work, you can buy us a coffee via <a class='green' href="https://ko-fi.com/blarc">[Ko-fi]</a>.</p>

    <p>You can find the complete source code on  <a class='green' href="https://github.com/Blarc/advent-of-code-bingo">[GitHub]</a>.</p>
</div>
