* {
    color: white;
    font-size: small;
}

.bingo-grid {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(12, 10rem);
    grid-template-columns: repeat(12, 5rem);
    grid-template-areas: ". . . . a a . . . ."
                         ". . . b b c c . . ."
                         ". . d d e e f f . ."
                         ". g g h h i i j j ."
                         "k k l l m m n n o o"
                         ". . . . p p . . . .";
}

.bingo-item-wrapper:nth-child(1) {
    grid-area: a;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/a.png");
    }
}
.bingo-item-wrapper:nth-child(2) {
    grid-area: b;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/b.png");
    }

    .bingo-item:after {
        left: 0;
        bottom: 0;
        transform: translate(-50%, 50%);
        background: radial-gradient(circle closest-corner at 50% 50%, white, red, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(3) {
    grid-area: c;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/c.png");
    }

    .bingo-item:after {
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        background: radial-gradient(circle closest-corner at 50% 50%, white, red, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(4) {
    grid-area: d;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/d.png");
    }
}
.bingo-item-wrapper:nth-child(5) {
    grid-area: e;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/e.png");
    }

    .bingo-item:after {
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
        background: radial-gradient(circle closest-corner at 50% 50%, white, orange, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(6) {
    grid-area: f;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/f.png");
    }
}
.bingo-item-wrapper:nth-child(7) {
    grid-area: g;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/g.png");
    }

    .bingo-item:after {
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        background: radial-gradient(circle closest-corner at 50% 50%, white, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(8) {
    grid-area: h;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/h.png");
    }

    .bingo-item:after {
        left: 0;
        bottom: 0;
        transform: translate(-50%, 50%);
        background: radial-gradient(circle closest-corner at 50% 50%, white, orange, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(9) {
    grid-area: i;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/i.png");
    }
}
.bingo-item-wrapper:nth-child(10) {
    grid-area: j;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/j.png");
    }

    .bingo-item:after {
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        background: radial-gradient(circle closest-corner at 50% 50%, white, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(11) {
    grid-area: k;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/k.png");
    }
}
.bingo-item-wrapper:nth-child(12) {
    grid-area: l;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/l.png");
    }
}
.bingo-item-wrapper:nth-child(13) {
    grid-area: m;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/m.png");
    }

    .bingo-item:after {
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        background: radial-gradient(circle closest-corner at 50% 50%, white, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(14) {
    grid-area: n;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/n.png");
    }

    .bingo-item:after {
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        background: radial-gradient(circle closest-corner at 50% 50%, white, red, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(15) {
    grid-area: o;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/o.png");
    }
}
.bingo-item-wrapper:nth-child(16) {
    grid-area: p;

    &.selected {
        border: none;
        background-size: contain;
        background-image: url("/assets/images/p.png");
    }
}

.bingo-item-wrapper {
    margin: 1em;
    text-align: center;
    place-content: center;
    flex-direction: column;
    position: relative;

    &:hover {
        transform: scale(1.1); /* Increase the size by 5% on hover */
        cursor: pointer;
    }

    .bingo-item:after {
        z-index: 999;
        content: "";
        width: 80px;
        height: 80px;
        position: absolute;
        //transform: translate(-50%, 50%);
        //background: radial-gradient(circle closest-corner at 50% 50%, white, red, transparent 70%);
    }
}

.bingo-item {
    & {
        margin: 2px;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: solid 5px #cccccc;
    }

    &:hover {
        color: #99ff99;
        border: solid 5px #99ff99;
    }
}

.selected {
    & {
        color: #009900;
        border: solid 5px #009900;
    }
}
