* {
    color: white;
}

.center-container {
    max-width: 680px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    display: grid;
    height: 170px;
    max-width: 170px;
    text-align: center;
    place-content: center;
    border: solid 5px #cccccc;
    border-radius: 10px;
    margin: 2px;
}

.box:hover {
    transform: scale(1.1); /* Increase the size by 5% on hover */
    cursor: pointer;
}
