<!--    TODO: Fix me. Cannot read properties of undefined, because this tries to render before bingoCards are loaded. -->
<div class="container center-container" *ngIf="bingoCards!!">
    <div class="row" *ngFor="let r of [].constructor(4); let row = index">
        <div class="col" [ngClass]="userHasBingoCardClass(bingoCards[row * 4 + col].id)" *ngFor="let c of [].constructor(4); let col = index" (click)="clickBingoCard(bingoCards[row * 4 + col].id)">
            {{row * 4 + col}}:{{bingoCards[row * 4 + col].description}}
        </div>
    </div>
</div>
