* {
    color: white;
    font-size: small;
}

.bingo-grid {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(12, 10rem);
    grid-template-columns: repeat(12, 5rem);
    grid-template-areas: ". . . . a a . . . ."
                         ". . . b b c c . . ."
                         ". . d d e e f f . ."
                         ". g g h h i i j j ."
                         "k k l l m m n n o o"
                         ". . . . p p . . . .";
}

.bingo-item-wrapper:nth-child(1) { grid-area: a }
.bingo-item-wrapper:nth-child(2) {
    grid-area: b;

    &::after {
        content: "";
        bottom: -40px;
        left: -40px;
        width: 80px;
        height: 80px;
        position: absolute;
        background: radial-gradient(circle closest-corner at 50% 50%, white, red, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(3) {
    grid-area: c;

    &::after {
        content: "";
        top: -40px;
        right: -40px;
        width: 80px;
        height: 80px;
        position: absolute;
        background: radial-gradient(circle closest-corner at 50% 50%, white, red, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(4) { grid-area: d }
.bingo-item-wrapper:nth-child(5) {
    grid-area: e;

    &::after {
        content: "";
        bottom: -30px;
        right: -50px;
        width: 80px;
        height: 80px;
        position: absolute;
        background: radial-gradient(circle closest-corner at 50% 50%, white, orange, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(6) { grid-area: f }
.bingo-item-wrapper:nth-child(7) {
    grid-area: g;

    &::after {
        content: "";
        top: -30px;
        left: -40px;
        width: 80px;
        height: 80px;
        position: absolute;
        background: radial-gradient(circle closest-corner at 50% 50%, white, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(8) {
    grid-area: h;

    &::after {
        content: "";
        bottom: -30px;
        left: -50px;
        width: 80px;
        height: 80px;
        position: absolute;
        background: radial-gradient(circle closest-corner at 50% 50%, white, orange, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(9) { grid-area: i }
.bingo-item-wrapper:nth-child(10) {
    grid-area: j;

    &::after {
        content: "";
        top: -30px;
        right: 0;
        width: 80px;
        height: 80px;
        position: absolute;
        background: radial-gradient(circle closest-corner at 50% 50%, white, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(11) { grid-area: k }
.bingo-item-wrapper:nth-child(12) { grid-area: l }
.bingo-item-wrapper:nth-child(13) {
    grid-area: m;

    &::after {
        content: "";
        top: -30px;
        right: -30px;
        width: 80px;
        height: 80px;
        position: absolute;
        background: radial-gradient(circle closest-corner at 50% 50%, white, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(14) {
    grid-area: n;

    &::after {
        content: "";
        top: -10px;
        right: -50px;
        width: 80px;
        height: 80px;
        position: absolute;
        background: radial-gradient(circle closest-corner at 50% 50%, white, red, transparent 70%);
    }
}
.bingo-item-wrapper:nth-child(15) { grid-area: o }
.bingo-item-wrapper:nth-child(16) { grid-area: p }

.bingo-item-wrapper {
    margin: 1em;
    text-align: center;
    place-content: center;
    flex-direction: column;
    position: relative;

    &:hover {
        transform: scale(1.1); /* Increase the size by 5% on hover */
        cursor: pointer;
    }
}

.bingo-item {
    & {
        margin: 2px;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: solid 5px #cccccc;
    }

    &:hover {
        color: #99ff99;
        border: solid 5px #99ff99;
    }
}

.selected {
    & {
        color: #009900;
        border: solid 5px #009900;
    }
}
